header {
  background-color: #333; /* 배경 색상 */
  color: #fff; /* 텍스트 색상 */
  padding: 10px; /* 여백 */
}

nav ul {
  list-style: none; /* 목록 스타일 제거 */
  padding: 0;
}

nav ul li {
  display: inline; /* 가로로 정렬 */
  margin-right: 20px; /* 오른쪽 여백 */
}

nav a {
  text-decoration: none; /* 밑줄 제거 */
  color: #fff; /* 링크 텍스트 색상 */
  font-weight: bold; /* 글꼴 굵기 */
  transition: color 0.3s; /* 색상 전환 애니메이션 */
}

/* 마우스 올렸을 때 색 변화 */
nav a:hover {
  color: #ff9900;
}

#cartButton {
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto; /* 오른쪽 여백을 최대화하여 오른쪽 정렬 */
}
